body {
    font-family: Arial, sans-serif;
    background:url(./biblia.jpg);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#quiz-header {
    margin-bottom: 20px;
}

#quiz-header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#quiz-header p {
    font-size: 16px;
    color: #555;
}

.answer-btn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.answer-btn:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#result-container {
    margin-top: 20px;
}

#restart-btn {
    margin-top: 20px;
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#restart-btn:hover {
    background-color: #e55c50;
}
